<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<title>Hello</title>
</head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<body>

<h1>Kirppari-ilmoitukset:</h1>

<div class="col-md-4">
		<h3 th:inline="text">Tervetuloa [[${#httpServletRequest.remoteUser}]]!</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos"  sec:authorize="hasAnyAuthority('ADMIN', 'USER')" class="btn btn-sm btn-danger"/>
		</form>
		<td><a th:href="@{/login}" sec:authorize="!hasAnyAuthority('ADMIN', 'USER')" class="btn btn-primary">Kirjaudu sisään</a></td>
		<td><a th:href="@{/register}" sec:authorize="!hasAnyAuthority('ADMIN', 'USER')" class="btn btn-success">Luo tili</a></td>
	</div>
	<h2>Järjestä ilmoitukset: </h2>
	<td><a th:href="@{/itemlist/alpha}" class="btn btn-success">aakkoset</a></td>
	<td><a th:href="@{/itemlist/price}" class="btn btn-success">hinta</a></td>
	<td><a th:href="@{/itemlist/price}" class="btn btn-success">päivämäärä</a></td>
	
<table class="table table-striped">
<thead class="thead-dark">
<tr>
<th>Tuote</th>
<th>Kaupunki</th>
<th>Myyjä</th>
<th>Kuvaus</th>
<th>Email</th>
<th>Hinta</th>
<th>Kategoria</th>
<th>Päivämäärä</th>
<th>Tykkäykset</th>
<th sec:authorize="hasAuthority('ADMIN')"> </th>
</tr>
<thead/>
 <!--   
<div th:switch="${sort.method}"> 
  <p th:case="'aakkoset'">sort by alphabetical order (a - ö)</p>
  <p th:case="*">default, "item : ${items}"</p> 
</div> -->
<tbody>
<tr th:each = "item : ${items}">
<td th:text="${item.name}"></td>
<td th:text="${item.location}"></td>
<td th:text="${item.seller}"></td>
<td th:text="${item.description}"></td>
<td th:text="${item.email}"></td>
<td th:text="${item.price}"></td>
<td th:text="${item.category}"></td>
<td th:text="${item.date}"></td>


<td><a th:href="@{/edit/{id}(id=${item.id})}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')" class="btn btn-primary">Tykkää</a></td>


<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${item.id})}" class="btn btn-danger">Poista</a></td>

<td><a th:href="@{/edit/{id}(id=${item.id})}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')" class="btn btn-success">Muuta</a></td>
</tr>
<tbody/>
</table>
<a href="/add" sec:authorize="hasAnyAuthority('ADMIN', 'USER')" class="btn btn-primary">Lisää tuote</a>  

</body>
</html>