<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<title>Kirppari</title>

<style>
  h1 {text-align:center;}
  #tervetuloa {margin: auto; text-align:center; color: grey;}
  #login {margin:auto; text-align:center;}
  #sort {margin-left:10px;}
</style>

</head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<body>


<h1>Kirppari-ilmoitukset:</h1>

<div id="tervetuloa" class="col-md-4">
		<h3 th:inline="text">Tervetuloa [[${#httpServletRequest.remoteUser}]]!</h3>
	</div>
	<div id="login" class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos"  sec:authorize="hasAnyAuthority('ADMIN', 'USER')" class="btn btn-sm btn-danger"/>
		</form>
		<td><a th:href="@{/login}" sec:authorize="!hasAnyAuthority('ADMIN', 'USER')" class="btn btn-primary">Kirjaudu sisään</a></td>
		<td><a th:href="@{/signup}" sec:authorize="!hasAnyAuthority('ADMIN', 'USER')" class="btn btn-success">Luo tili</a></td>
	</div>
	
	<div id="sort">
	<h2>Järjestä ilmoitukset: </h2>
	<td><a th:href="@{/itemlist/alpha}" class="btn btn-success">aakkoset</a></td>
	<td><a th:href="@{/itemlist/price}" class="btn btn-success">hinta</a></td>
	<td><a th:href="@{/itemlist/date}" class="btn btn-success">päivämäärä</a></td>
	</div>
	
<table class="table">
<thead class="thead-dark">
<tr>
<th>Tuote</th>
<th>Kaupunki</th>
<th>Myyjä</th>
<th>Kuvaus</th>
<th>Email</th>
<th>Hinta</th>
<th>Kategoria</th>
<th>Päivämäärä</th>
<th>Tykkäykset</th>
<th> </th>
<th> </th>
</tr>
<thead/>

<tbody>
<tr th:each = "item : ${items}">
<td th:text="${item.name}"></td>
<td th:text="${item.location}"></td>
<td th:text="${item.seller}"></td>
<td th:text="${item.description}"></td>
<td th:text="${item.email}"></td>
<td th:text="${item.price}"></td>
<td th:text="${item.category}"></td>
<td th:text="${item.date}"></td>

<td><a id="like" th:href="@{/like/{id}(id=${item.id})}" class="btn btn-primary" th:text="${#lists.size(item.likers)}"></a></td>

<div th:switch="${currUser}"> 
<td th:case="${item.user}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')"><a th:href="@{/delete/{id}(id=${item.id})}" class="btn btn-danger">Poista</a></td>
<td th:case="'admin'" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${item.id})}" class="btn btn-danger">PoistaAdmin</a></td>
</div>

<div th:switch="${currUser}"> 
<td th:case="${item.user}"><a th:href="@{/edit/{id}(id=${item.id})}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')" class="btn btn-success">Muuta</a></td>
<td th:case="'admin'"><a th:href="@{/edit/{id}(id=${item.id})}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-success">MuutaAdmin</a></td>
</div>

</tr>
<tbody/>
</table>
<a href="/add" sec:authorize="hasAnyAuthority('ADMIN', 'USER')" class="btn btn-primary">Lisää tuote</a>  

</body>
</html>