<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<title>Hello</title>
</head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

<body>
<h1>Luo tili</h1>
<form action="/" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label th:text="#{label.user.username}">username</label>
        <input th:field="*{username}"/>
        <p th:each="error: ${#fields.errors('username')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.email}">email</label>
        <input type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.passwordHash}">password</label>
        <input type="password" th:field="*{passwordHash}"/>
        <p th:each="error : ${#fields.errors('passwordHash')}" 
          th:text="${error}">Validation error</p>
    </div>
    <button type="submit" th:text="#{label.form.submit}">submit</button>
</form>
<a th:href="@{/login}">login</a>
</body>
</html>